# Custom pressure plate sounds
protected net.minecraft.world.level.block.BasePressurePlateBlock m_152143_(Lnet/minecraft/world/entity/Entity;Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/state/BlockState;I)V # checkPressed

# Structures
public net.minecraft.world.level.levelgen.NoiseChunk m_224359_(Lnet/minecraft/world/level/levelgen/NoiseRouter;Ljava/util/List;)Lnet/minecraft/world/level/biome/Climate$Sampler; # cachedClimateSampler
public net.minecraft.world.level.levelgen.NoiseChunk m_209247_()Lnet/minecraft/world/level/block/state/BlockState; # getInterpolatedState
public net.minecraft.world.level.levelgen.NoiseChunk m_224363_()I # cellHeight
public net.minecraft.world.level.levelgen.NoiseChunk m_224362_()I # cellWidth
public net.minecraft.world.level.levelgen.DensityFunctions$BeardifierMarker