# Custom pressure plate sounds
protected net.minecraft.world.level.block.BasePressurePlateBlock m_152143_(Lnet/minecraft/world/entity/Entity;Lnet/minecraft/world/level/Level;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/state/BlockState;I)V # checkPressed

public net.minecraft.server.level.ServerLevel addDuringCommandTeleport(Lnet/minecraft/server/level/ServerPlayer;)V
protected net.minecraft.server.level.ServerPlayer setServerLevel(Lnet/minecraft/server/level/ServerLevel;)V

# Structures
public net.minecraft.world.level.levelgen.NoiseChunk m_224359_(Lnet/minecraft/world/level/levelgen/NoiseRouter;Ljava/util/List;)Lnet/minecraft/world/level/biome/Climate$Sampler; # cachedClimateSampler
public net.minecraft.world.level.levelgen.NoiseChunk m_209247_()Lnet/minecraft/world/level/block/state/BlockState; # getInterpolatedState
public net.minecraft.world.level.levelgen.NoiseChunk m_224363_()I # cellHeight
public net.minecraft.world.level.levelgen.NoiseChunk m_224362_()I # cellWidth
public net.minecraft.world.level.levelgen.DensityFunctions$BeardifierMarker

# Inventory stuff
public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen m_280092_(Lnet/minecraft/client/gui/GuiGraphics;Lnet/minecraft/world/inventory/Slot;)V # renderSlot